section {
    margin : 0;
    padding : 2.5px;
    background-image: url(/picture/black.png);
    color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: larger;
    background-size: cover;
    
}

section img{
    width: 15cm;
}

section p{
    text-align: center;
}